body{
    font-family: Merienda;
}

h1 {
    padding: 20px;
}

nav {
    background-color: #FFC0CB;
}

.nav_bar {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav_item {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.image:hover {
    opacity: 0.5;
}

li {
    float: center;
}

ul {
    padding: 0;
    margin:0;
}

header {
    text-align: center;
    border: 1px solid #FF0000;
    background-color:  #87CEEB;
}

#parent{
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

#left {
    display: inline-block;
}

#right {
    display: inline-block;
}

footer {
    border: 1px solid rgb(255, 0, 0);
    background-color: #FFC0CB;
    text-align: center;
    padding: 20px;
    margin: 20px;
}